<div class="navbar navbar-dark  fixed-top bg-dark ">
    <div class="container-fluid d-flex">
        <a class="textWhite" href="/">Node Rss </a>
        <a  class="textWhite" href="/about">About </a>

        <div class="ml-auto d-flex flex-row" >
            <div>
            <form action="/preview" method="GET" class="needs-validation d-flex align-items-center" novalidate >
                <label class="form-label" for="searchRss" for="searchRss"></label>
                <input class="form-control" type="text" name="searchRss" placeholder="serch the web" id="searchRss"
                    required>
                <div id="validationServer03Feedback" class="invalid-feedback">
                    Info missing
                </div>
            </div>
            <div class="d-flex align-items-center">
                <button class="btn btn-light" >Search RSS</button>
            </div>

            </form>
        </div>
    </div>

</div>

<div class="ml-auto p-4">Flex item</div>