<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Node Rss</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>
        <div class="wrapper">
            <div class="layout-sidebar">
                <main>
                    <%- body %>
                </main>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At eius minima rerum ducimus incidunt ipsum
                    itaque harum molestiae fugiat unde? Maiores harum dolore cupiditate magni sint. Vitae consequatur
                    assumenda quis!</p>
            </div>

        </div>

        <%- include('../partials/footer.ejs') %>



</body>

</html>