<h1>About page</h1>

<form action="/" method="POST">
    <label for="searchRss" for="searchRss">+</label>

    <input type="text" name="searchRss" placeholder="serch the web" id="searchRss">
    <button>Search</button>
</form>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias iure magnam illo consectetur facilis. Sed, porro illo
    ratione a, asperiores aspernatur autem quia praesentium cupiditate iste hic velit, libero soluta!</p>


<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias iure magnam illo consectetur facilis. Sed, porro illo
    ratione a, asperiores aspernatur autem quia praesentium cupiditate iste hic velit, libero soluta!</p>