<div class="container content mb-5 ">

<h1>About</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure obcaecati recusandae at non labore aperiam laudantium,
    et ducimus ipsum eos, molestiae, eaque sunt omnis iste. Sit totam vel odio fuga!</p>
    </div>
