<div class="container content mb-5 ">

<h1>Home, or Index Page</h1>


<h1>Begin by searchin your RSS</h1>
<div class="fullscrean">
    <form action="/preview" method="GET" class="needs-validation" novalidate>
        <label class="form-label" for="searchRss" for="searchRss">type here</label>
        <input class="form-control mb-3" type="text" name="searchRss" placeholder="serch the web" id="searchRss"
            required>
        <div id="validationServer03Feedback" class="invalid-feedback mb-3">
            Info missing
        </div>

        <div class="mb-3">
            <button class="btn btn-info">Search RSS</button>
        </div>
    </form>
</div>
</div>