<h1>Home, or Index Page</h1>


<h1>Begin by searchin your RSS</h1>
<form action="/" method="POST">
    <label for="searchRss" for="searchRss">+</label>
    <input type="text" name="searchRss" placeholder="serch the web" id="searchRss">
    <button>Search</button>
</form>