<a href="/feed/<%=searchRss%>">
<div class="card d-flex flex-row justify-content-start align-self-center">

    <div class="align-self-center">


        <!-- // pina ce lucreaza numai perntru RSS'urile cu img -->



    </div>

    <div class="d-flex flex-column justify-content-center align-self-center f-grow ">

        <div class="">
            <h1 class="t-center">
                <%= feed.title %>
            </h1>
            <p class="t-center">
                <%= feed.description %>
            </p>
            <p class="t-center">
                <%= feed.link %>
            </p>
        </div>
    </div>

</div>
</a>